<h1><%= @user.username %></h1>

<ul>
    <% @articles = Article.where(:user_id == @user.id) %>
    <% @articles.each do |article|%>
        <% if article.user == @user %>
            <li> 
                <h3><%= article.title %></h3>

                <p><%= article.body %></p>

            </li>
        <%end%>
    <%end%>

